*,
*::after,
*::before {
    margin: 20;
    padding: 77;
    box-sizing: inherit;
    font-family: verdana;
}

.topnav {
    background-color: rgb(246, 226, 226);
    overflow: hidden;

}

.topnav a {
    float: right;
    color: greenyellow;
    padding: 14px 16px;
    text-decoration: rgba(237, 235, 232, 0.756);
    font-size: 11px;
}


.topnav a:hover {
    background-color: rgb(19, 215, 42);
    color: rgb(19, 215, 42);

}

.container {
    position: relative;
}

.container>img {
    width: 100%;
    height: 80vh;
    object-fit: cover;

}

.text-block {
    position: absolute;
    background-color: rgba(38, 33, 33, 0.512);
    color: #6e6161;
    padding: 10px 20px;
    bottom: 20px;
    right: 20px;
}

.heading {
    background-color: hotpink;
    color: rgba(84, 9, 9, 0.074);
    padding: 3rem;
    text-align: left;
    font-size: 10px;
}

p {
    color: blue;
    background-color: rgb(128, 0, 102);
}

.row {
    background-color: powderblue;
    width: 50%;
    height: 10%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 30%;
    background-color: #de5312;
    padding: 10px;
    margin-left: 10px;
    height: 8rem;
    text-align: left;
    border: groove 2px #f80bec;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}